<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Checkout</title>
</head>

<body>
    <div id="app">
        <!-- code โจทย์ ย่อ code ของโจทย์ไว้ก็ได้ code จะได้ไม่ดูเยอะเกินไป ------------------------------------------------------------------>
        <div class="modal" v-bind:class="{'is-active':show_modal}">
            <div class="modal-background" @click="show_modal = !show_modal"></div>
            <div class="modal-card" style="max-width: 960px;width: 90%;">
                <header class="modal-card-head">
                    <p class="modal-card-title">โจทย์</p>
                    <button @click="show_modal = !show_modal" class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <p class="has-background-info-light p-2">นี่คือหน้า Checkout ที่เพิ่มเข้ามา
                        โดยสามารถแก้ไข Vue Instance ที่อยู่ใน
                        <code>&lt;script&gt;</code> ที่อยู่ส่วนล่างของ <code>checkout.html</code> ได้เลย
                    </p>
                    <p class="my-4"><b>ข้อ 1 </b> ใน created() ให้ทำการดึงข้อมูลจาก localStorage
                        ที่บันทึกไว้จากหน้าที่แล้วออกมา <a href="https://www.w3schools.com/js/js_json_parse.asp"
                            target="blank">(ดูวิธีแปลง string เป็น json ที่นี่)</a> และแสดงสินค้าในตะกร้าที่ดึงออกมาจาก
                        localStorage โดยใช้ card
                        ตัวอย่างที่มีให้ และใส่ราคารวม แทนที่ตัวอย่างราคารวมที่ให้มา (copy ที่ทำไว้จากหน้า shop มาก็ได้)
                    </p>
                    <hr>
                    <p class="my-4"><b>ข้อ 2 </b>ผูก v-model ให้กับ input แต่ละตัวใน Form
                        (สามารถกำหนดชื่อตัวแปรเองได้เลย)
                    </p>
                    <hr>
                    <p class="my-4"><b>ข้อ 3 </b>ให้สร้าง <b>Watchers หรือ Computed</b>
                        โดยเมื่อเลือกจังหวัด ให้แสดงอำเภอภายในจังหวัดนั้น
                        และเมื่อเลือกอำเภอ จะแสดงเฉพาะตำบลภายในอำเภอและจังหวัดนั้น
                    </p>
                    <hr>
                    <p class="my-4"><b>ข้อ 4 </b> ลองกดปุ่ม Confirm Order จะมี modal แสดงขึ้นมา
                        ในนั้นจะมีตัวอย่างตารางให้ดู ให้นักศึกษาสร้างตารางตามตัวอย่าง ใน
                        <code>&lt;table id="order-table"&gt;</code>
                        โดยตารางที่นักศึกษาสร้างจะอยู่ด้านล่างต่อจากรูปตัวอย่าง (ไม่ต้องลบรูปออก)
                    </p>
                </section>
            </div>
        </div>


        <!-- Navbar -->
        <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <h1 class="is-size-4 has-text-weight-semibold">Checkout</h1>
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <a href="./index.html" class="navbar-item">Shop from Vue</a>
                    <a href="./checkout.html" class="navbar-item">Checkout</a>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item my-2" @click="show_modal = !show_modal">
                        <span>เปิดโจทย์</span>
                    </a>
                </div>
            </div>
        </nav>







        <div class="container is-max-desktop p-5">
            <div class="column pt-6 pl-0 pr-0">
                <!-- card cart component แสดงข้อมูลที่อยู่ใน Localstorage ---------------------------------------------->
                <div class="card mb-4" v-for="val in data_checkout" @click="data_checkout.reverse()">
                    <div class="card-content p-0">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img :src="val.image"
                                        alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content pt-2">
                                <p class="is-5">{{val.title}}</p>
                                <p class="has-text-grey-light is-6">{{val.brand}}</p>
                                <div style="display: flex;justify-content: space-between;">
                                    <div>
                                        <span class="is-6 has-text-danger">{{val.price}} </span>
                                        <span>x {{val.quantity}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="columns is-size-4">
                <div class="column is-1 is-offset-8">
                    Total
                </div>
                <div class="column is-3 has-text-right">
                    <!-- Total here ---------------------------------------- -->
                    {{Total}} ฿
                </div>
            </div>

            <hr>

            <h1 class="is-size-4">User Info</h1>
            <br>




            <!-- Form Column --------------------------------------- -->
            <div class="columns">
                <div class="column">
                    <label class="label">Firstname</label>
                    <div class="control">
                        <input class="input" type="text" v-model="fname">
                    </div>
                </div>
                <div class="column">
                    <label class="label">Lastname</label>
                    <div class="control">
                        <input class="input" type="text" v-model="lname">
                    </div>
                </div>
                <div class="column">
                    <label class="label">Tel</label>
                    <div class="control">
                        <input class="input" type="text" v-model="tele">
                    </div>
                </div>
            </div>

            <h1 class="is-size-4">Address Info</h1><br>



            <div class="columns">
                <div class="column">
                    <label class="label">จังหวัด</label>
                    <div class="select">
                        <select v-model="provi">
                            <option v-for="item in province" :key="item.id" :value="item.id">
                                {{ item.name_th }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    <label class="label">อำเภอ</label>
                    <div class="select">
                        <select v-model="amphu">
                            <option v-for="item in amphur" :key="item.id" :value="item">
                                {{ item.name_th }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    <label class="label">ตำบล</label>
                    <div class="select">
                        <select v-model="tamb">
                            <option v-for="item in tambo" :key="item.id" :value="item">
                                {{ item.name_th }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="column">
                    <!-- click this button to open Order modal ----------------- -->
                    <label class="label">Comfrim</label>
                    <a @click="modal_confirm_order = !modal_confirm_order" class="button is-warning">Confirm Order</a>
                </div>

            </div>

            <!-- Modal ของตารางใบเสร็จ ------------------------------------------------------------------>
            <div class="modal" v-bind:class="{'is-active':modal_confirm_order}">
                <div class="modal-background" @click="modal_confirm_order = !modal_confirm_order"></div>
                <div class="modal-card" style="max-width: 960px;width: 90%;">
                    <section class="modal-card-body">
                        ตัวอย่าง order
                        <img src="./Table example.png">
                        <hr>
                        Order Table ของนักศึกษา
                        <table id='order-table' style="width: 100%;" class="table is-bordered">
                            <!-- ใส่ข้อมูลของ table ไว้ในนี้ -------------------------------------------->
                            <tr>
                                <th colspan = "4" class="has-text-centered">Order details</th>
                            </tr>
                            <tr>
                                <th colspan = "2">ชื่อ:{{fname}} {{lname}}</th>
                                <th colspan = "2">ที่อยู่:{{provi.name_th}} {{amphu.name_th}} {{tamb.name_th}}</th>
                            </tr>
                            <tr>
                                <th class="has-text-centered" colspan = "4">รายการสินค้า</th>
                            </tr>
                            <tr>
                                <th colspan="1">ชื่อสินค้า</th>
                                <th colspan="1">ราคาต่อหน่วย</th>
                                <th colspan="1">จำนวน</th>
                                <th colspan="1">ราคารวม</th>
                            </tr>
                            <tr v-for="val in data_checkout">
                                <td colspan="1">{{val.title}}</td>
                                <td colspan="1">{{val.price}}</td>
                                <td colspan="1">{{val.quantity}}</td>
                                <td colspan="1">{{val.price * val.quantity}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"> </td>
                                <th colspan="1">ราคารวมทั้งหมด</th>
                                <th colspan="1">{{Total}}</th>
                            </tr>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
        <!-- script ---------------------->
        <script src="./data/amphures.js"></script>
        <script src="./data/province.js"></script>
        <script src="./data/tambons.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    cart: [],
                    modal_confirm_order: false,
                    show_modal: false,
                    order_detail: {},
                    province: province, // ข้อมูลจังหวัด
                    amphures: amphures, // ข้อมูลอำเภอ
                    tambons: tambons, // ข้อมูลตำบล
                    data_checkout:'',

                    fname:'',
                    lname:'',
                    tele:'',

                    amphu:'',
                    provi:'',
                    tamb:'',
                },
            created(){
                let info = localStorage.getItem("cart")
                this.data_checkout = JSON.parse(info);
                },
            computed:{
                Total(){
                    return this.data_checkout.reduce((sum, data_checkout) => {
                    return Number(sum) + Number(data_checkout.price * data_checkout.quantity) }, 0);
                },
                amphur(){
                    if(this.provi == 2){
                        return this.amphures.filter(val=>{
                        return val.province_id == 2
                    })
                    }else{
                        return this.amphures.filter(val=>{
                        return val.province_id == 1
                    })
                }
                },
                tambo(){
                        return this.tambons.filter(val=>{
                        return val.amphure_id == this.amphu.id
                    })
                }
                
            }
            
        })  

        </script>

</html>