<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bulma.css">
    <title>Home</title>
</head>
<body>
    <section class="section">
        <div class="container">
        <h1 class="title"><%= title %></h1>
        <p class="subtitle">
            <%= message %>
        </p>
        <p>
            <strong>
                <% if (num % 2 == 0) { %>
                    EVEN
                <% } else { %>
                    ODD
                <% } %> Number of users
            </strong>
            <ul>
                <% for (let item of items){ %>
                    <li><%= item %></li>
                <% } %>
            </ul>
        </p>
        </div>
    </section>
    
</body>
</html>